/* 全体書式 */
* {
    box-sizing: border-box;
}
body {
    font-family: serif;
    background-color: #fafafa;
}
html{
    scroll-behavior: smooth;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

/* ヘッダー */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;    
}
.header-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.header-list li {
    width: 180px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
}
.header-list li:hover {
    color: #d0d0d0;
    transition: linear 0.2s;
}
.header-list a:hover {
    color: #d0d0d0;
    transition: linear 0.3s;
}


/* メイン */
main {
    width: 100%;
    margin-top: -10px; 
    background-repeat: no-repeat;
}
.title {
    padding-top: 30px;
    text-align: center;
    color: white;
    background-image: url(header.jpg); 
    height: 100%;
    width: 100%;
}
.title h1 {
    font-size: 45px;
    padding: 200 0 15 0;
}
.title p {
    font-size: 22px;
}

.contents {
    margin: 25px 0px;
    padding: 25px 0px;
}
.contents-expl {
    text-align: center;
    margin-top: -10px;
    margin-bottom: 50px;
}
.contents-icon {
    width: 25%;
    margin-top: 0px;
    text-align: center;
    float: left;
}
.contents-icon :hover {
    background-color: #f4f5f7;
    opacity: 0.7;
    transition: linear 0.3s;
}
.contents-icon h2 {
    font-size: 17px;
    font-weight: normal;
}
.contents-icon p {
    width: 75%;
    margin: 0 auto;
    font-size: 13px;
    font-weight: lighter;
    color: #696969;
}
.clear {
    clear: left;
}

/* トップボタン */
.gotop {
    position: fixed;
    width: 60px;
    height: 60px;
    left: 15px;
    bottom: 20px;
    box-sizing: border-box;
    background: #FFF;
    border: 1px solid #999;
    padding-top: 30px;
    text-align: center;
    letter-spacing: -1px;
    font-size: 85%;
    text-decoration: none;
    color: #333;
    opacity: 0.5;
}
.gotop::before {
    content: "";
    display: block;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
    width: 25%;
    height: 25%;
    top: 25%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    transform: rotate(-45deg);
}
.gotop:hover {
    opacity: 1;
}

/* フッター */
footer {
    width: 100%;
}
.footer-logo li {
    width: 140px;
    height: 50px;
    font-size: 15px;
    line-height: 50px;
    color: white;
    border-radius: 8px;
    text-align: center;
    float: right;
}
#logo1 {
    background-color: #239b76;
}
#logo2 {
    background-color: #3b5998;
    margin-right: 15px;
}
footer li:hover {
    color: #d0d0d0;
    transition: all linear 0.3s;
    text-decoration: solid 1px underline;
}

/* レスポンシブ */
@media screen and (max-width: 956px) {
    .title {
      padding-top: 60px;
      text-align: center;
      color: white;
    }
    .title h1 {
        font-size: 27px;
        padding-top: 100px;
    }
    .title p {
        font-size: 18px;
    }

}

@media screen and (max-width: 900px) {
    .contents-icon {
        width: 50%;
        padding-top: 50px;
    }
}

@media screen and (max-width: 600px) {
    .header-list li {
        width: 500px;
    .title {
      padding-top: 90px;
    }
    .contents-icon {
        width: 100%;
    }
}

@media screen and (max-width: 416px) {
    .title {
      padding-top: 150px;
    }
}
