/* 全体書式 */
* {
    box-sizing: border-box;
}
body {
    font-family: serif;
    background-color: #fafafa;
}
html{
    scroll-behavior: smooth;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
span {
    padding-left: 1rem;
}

/* ヘッダー */
.header1 {
    display: none;
}
.header2 {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
}
.header-list2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.header-list2 li {
    width: 180px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
}
.header-list2 li:hover {
    color: #d0d0d0;
    transition: linear 0.2s;
}
.header-list2 a:hover {
    color: #d0d0d0;
    transition: linear 0.3s;
    text-decoration: solid 1px underline;
}

/* メイン */
main {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}
.title {
    padding-top: 60px;
    text-align: center;
}
.contents {
    padding: 25px;
    margin: 25px 0px;
    background-color: white;
}
.contents img {
    width: 50%;
}
.contents h3 {
    font-size: 22px;
    padding: 25px 25px 0px 25px;
}
.contents h4 {
    padding: 25px 0px 0px 15px;
    border-bottom: 1px solid #dfdfdf;
}
.contents p {
    padding: 0 20 0 20;
}

/* 目次 */
.title {
    text-align: center;
}
.topic {
    text-align: center;
}
.topicpc {
    font-size: 25px;
    border-bottom: dashed 1px #696969;
}
.topicsmart {
    display: none;
}
.topic h4 {
    font-size: 22px;
}
.topic h5 {
    font-size: 16px;
    font-weight: normal;
}
.topic-list {
    display: flex;
}
.lists {
    width: 33%;
}
.lists a {
    color: #585858;
}
.lists h5 :hover {
    color: black;
    text-decoration: underline solid 1px black;
    transition: linear 0.2s;
}
.bottompc {
    border-bottom: dashed 1px #696969; 
}
    

/* もっと見る */
.addition {
    padding: 20PX;
}
.addition {
    background-color: #FAFAFA;
    border: 1px solid #dfdfdf;
    padding: 10px 0px;
}
.more {
    font-size: 14px;
    cursor: pointer;
    list-style: none;
    text-align: center;
    color: #696969;
}
.addition h5 {
    font-size: 15px;
}

/* トップボタン */
.gotop {
    position: fixed;
    width: 60px;
    height: 60px;
    left: 15px;
    bottom: 20px;
    box-sizing: border-box;
    background: #FFF;
    border: 1px solid #999;
    padding-top: 30px;
    text-align: center;
    letter-spacing: -1px;
    font-size: 85%;
    text-decoration: none;
    color: #333;
    opacity: 0.5;
}
.gotop::before {
    content: "";
    display: block;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
    width: 25%;
    height: 25%;
    top: 25%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    transform: rotate(-45deg);
}
.gotop:hover {
    opacity: 0.5;
}

/* フッター */
footer {
    width: 100%;
}
.footer-logo li {
    width: 140px;
    height: 50px;
    font-size: 15px;
    line-height: 50px;
    color: white;
    border-radius: 8px;
    text-align: center;
    float: right;
}
#logo1 {
    background-color: #239b76;
}
#logo2 {
    background-color: #3b5998;
    margin-right: 15px;
}
footer li:hover {
    color: #d0d0d0;
    transition: all linear 0.3s;
    text-decoration: solid 1px underline;
}

/* レスポンシブ */
@media screen and (max-width: 956px) {
    .title {
      padding-top: 90px;
    }
}

@media screen and (max-width: 900px) {
    .title h1 {
        font-size: 25px;
    } 
}

@media screen and (max-width: 600px) {
    /* ヘッダー部分 */
    .header1 {
        background: #404040;
        position: fixed;
        width: 100%;
        height: 60px;
        display: block;;
      }
      .header-list1 {
          width: 100%;
          height: 50px;
          position: absolute;
          box-sizing: border-box;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      .header-list2 {
        display: none;
      }
        .header-text {
          position: absolute;
          color: white;
          letter-spacing: 1px;
          font-size: 20px;
          padding-top: 20px;
        } 
      
      /* メニュー部分 */
      .menu {
          list-style: none;
          position: absolute;
          width: 100%;
          height: auto;
          top: 0;
          margin-top: 60px;
          padding: 0 0 10px 0;
          clear: both;
          background: black;
          transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
          transform: scale(1, 0);
          transform-origin: top;
          opacity: 0.5;
        }
      .menu a {
        text-decoration: none;
        font-weight: 500;
        letter-spacing: 2px;
        font-size: 16px;
        text-transform: capitalize;
        color: white;
        opacity: 0;
        transition: 0.5s;
      }
      
      .menu li {
        border-top: 1px solid #888888;
        padding: 15px 0;
        margin: 0 54px;
        opacity: 0;
        transition: 0.5s;
      }
      
      .menu-btn:checked ~ .menu a,
      .menu-btn:checked ~ .menu li {
        opacity: 1;
        transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.2s;
      }
      
      .menu-btn {
        display: none;
        }
      
      .menu-icon {
        display: inline-block;
        position: relative;
        cursor: pointer;
        padding: 33px 15px;
        -webkit-tap-highlight-color: black;
      }
      
      /* メニュー部分　動き */
      .menu-btn:checked ~ .menu {
          transform: scale(1, 1);
          transform-origin: top;
          transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
      }
      /* ボタン部分 */
      .btn-icon {
        background: white;
        display: block;
        height: 2px;
        width: 30px;
        position: relative;
        transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
      }
      
      .btn-icon:before,
      .btn-icon:after {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        background: white;
        transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
      }
      
      .btn-icon:before {
        top: 9px;
      }
      
      .btn-icon:after {
        bottom: 9px;
      }
    
    .title {
        padding-top: 80px;
    }
    .topic {
        text-align: center;
        background-color: white;
        border: solid 1px #0d0d0d;
        border-radius: 3px;
    }
    .topicsmart {
        display: block;
        font-size: 20px;
        padding-top: 10px;     
    }
    .topicpc {
        display: none;
    }
    .bottompc {
        display: none;
    }
    .topic h4 {
        font-size: 18px;
        padding-left: 50px;
        text-align: left;
        border-bottom: dashed 1.5px #dfdfdf;
    }
    .topic h5 {
        font-size: 15px;
        padding-left: 75px;
        font-weight: normal;
        text-align: left;
    }
    .topic-list {
        display: block;
    }
    .lists {
        width: 100%;
    }
    .contents img {
        width: 90%;
    }
}

@media screen and (max-width: 416px) {
    .title {
      padding-top: 180px;
    }
    .contents img {
        width: 320px;
        height: 180px;
    }
}
