/* 全体書式 */
* {
    box-sizing: border-box;
}
body {
    font-family: serif;
    background-color: #f4f5f7;
}
html{
    scroll-behavior: smooth;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
span {
    padding-left: 1rem;
}

/* ヘッダー */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
}
.header-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.header-list li {
    width: 180px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
}
.header-list li:hover {
    color: #d0d0d0;
    transition: linear 0.2s;
}
.header-list a:hover {
    color: #d0d0d0;
    transition: linear 0.3s;
    text-decoration: solid 1px underline;
}

/* メイン */
main {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
.title {
    padding: 60px 0px 0px 20px;
}

.contents {
    padding: 25px;
    margin: 25px 0px;
    line-height: 40px;
    border: 1px solid #d0d0d0;
    background-color: white;
}

/* トップボタン */
#top-btn {
    position: fixed;
    bottom: 20px;
    right: 15px;
    opacity: 0.3;
}
#top-btn:hover {
    opacity: 1.0;
    transition: linear 0.2s;
}

/* フッター */
footer {
    width: 100%;
}
.footer-logo li {
    width: 140px;
    height: 50px;
    font-size: 15px;
    line-height: 50px;
    color: white;
    border-radius: 8px;
    text-align: center;
    float: right;
}
#logo1 {
    background-color: #239b76;
}
#logo2 {
    background-color: #3b5998;
    margin-right: 15px;
}
footer li:hover {
    color: #d0d0d0;
    transition: all linear 0.3s;
    text-decoration: solid 1px underline;
}

/* レスポンシブ */
@media screen and (max-width: 956px) {
    .title {
      padding-top: 90px;
    }
}

@media screen and (max-width: 900px) {
    .title h1 {
        font-size: 25px;
    } 
}

@media screen and (max-width: 600px) {
    .title {
      padding-top: 120px;
    }
}

@media screen and (max-width: 416px) {
    .title {
      padding-top: 180px;
    }
}
